body {
  font-family: 'Special Elite', cursive;
}

content {
  border: 1px solid red;
}

#image-section {
  height: 400px;
  width: 550px;
  margin: 0 auto;
  border: 1px solid black;
  text-align: center;
}

#text-section {
  height: 100px;
  width: 550px;
  border: 1px solid blue;
  margin: 0 auto;
}

h1, h2 {
  text-align: center;
}
